@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Urbanist";
  src: url("/Urbanist-Medium.ttf");
}

@font-face {
  font-family: "UrbanistBold";
  src: url("/Urbanist-Bold.ttf");
}
