@font-face {
  font-family: "Urbanist";
  src: url("./Urbanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "UrbanistBold";
  src: url("./Urbanist-Bold.ttf") format("truetype");
}

:root {
  --sidebar-size: 456px;
  --screen-width: 2736px;
  --screen-height: 1216px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: var(--screen-width);
  height: var(--screen-height);
  background: #343434;
  z-index: 0;
  overflow: hidden;
}

#sidebar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: var(--sidebar-size); /* 1/6 */
  height: var(--screen-height);
}

#sidebar-title {
  text-align: center;
  padding: 40px;
  font-size: 48px;
  color: white;
  font-family: Urbanist;
}

#sidebar-content {
  margin-top: -40px;
  padding: 40px;
  font-size: 28px;
  color: white;
  font-family: Urbanist;
}

/* REGULAR SIZING */
#backtracker,
#traversal,
#prim,
#wilson {
  position: absolute;
  display: none;
  margin-top: 0px;
  font-size: 24px;
  color: white;
  font-family: Urbanist;
  box-sizing: border-box;
}

#backtracker-title,
#traversal-title,
#prim-title,
#wilson-title {
  position: absolute;
  display: none;
  text-align: center;
  margin-top: 0px;
  font-size: 40px;
  color: white;
  font-family: Urbanist;
  box-sizing: border-box;
}

#backtracker-title span,
#traversal-title span,
#prim-title span,
#wilson-title span {
  font-size: 24px;
}

#backtracker span,
#traversal span,
#prim span,
#wilson span {
  font-family: UrbanistBold;
}

/* LARGE SIZING */

#backtracker.large,
#traversal.large,
#prim.large,
#wilson.large {
  font-size: 36px;
}

#backtracker-title.large,
#traversal-title.large,
#prim-title.large,
#wilson-title.large {
  font-size: 80px;
}

#backtracker-title.large span,
#traversal-title.large span,
#prim-title.large span,
#wilson-title.large span {
  font-size: 40px;
}
